<h1>About MisheQ's App</h1>
<br><br>
<blockquote>
    <h3>This is a subject managing app.</h3>
</blockquote>
<br><br>
<div class="panel panel-default">
    <div class="panel-body">
        The user is able to:<br>
        <ul>add new subjects</ul>
        <ul>enlist existing subjects</ul>
        <ul>modify subject's data</ul>
        <ul>remove subjects from the list</ul>
        
    </div>
</div>